---
layout: base
---

<div class="post">

    <div class="post__meta">
        <h2 class="post__heading">{{ title }}</h2>
        <span class="post__date">{{ page.date | formatLocalDate }}</span>
    </div>

    <div class="post__content">
        {{ content | safe }}
    </div>

</div>
