---
layout: base
title: Posts | Eleventy Usage
pagination:
    data: collections.posts
    size: 3
    reverse: true
---

<div class="post-index">
    {% include 'pagination.njk' %}

    <ul>
        {% for post in pagination.items %}
        <li>
            <a href="{{ post.url }}" class="post-index__link">
                <span class="post-index__link-text">{{ post.data.title }}</span>
                <span class="post-index__link-date">({{ post.date | formatLocalDate }})</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% include 'pagination.njk' %}
</div>
